<div class="fondo">
    @if (isHome) {

    <app-topic-start Title="DIFERENCIA SIMETRICA" />

    } @else {

    <div class="container">
        <h1>DIFERENCIA SIMETRICA</h1>
        <p>La diferencia simetrica de dos conjuntos A y B es el conjunto A Δ B con todos los elementos que pertenecen, o
            bien a A, o bien a B, pero no a ambos a la vez.</p>
        <img src="../../../../assets/img/SymmetricDifference/img1.png" alt="Img1">


        <a href="">Hacer Prueba</a>
    </div>

    }
</div>