.fondo {
    height: auto;

    background-color: #000417;
    background-image: url('../../../assets/img/FondoLearningPath.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
}

.container {
    width: 95vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 15vh;
    margin-bottom: 0;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
}

app-text-box {
    position: relative;
}

.btn:hover{
    background-image: url('../../../assets/img/TextBoxHover.png');
}

/* Posiciones específicas para cada botón */
.btn-teoria {
    right: 100%;
}

.btn-cardinalidad {
    top: 5%;
    right: 50%;
}

.btn-union {
    bottom: 15%;
    left: 120%;
}

.btn-interseccion {
    bottom: 5%;
    left: 100%;
}

.btn-diferencia {
    bottom: 10%;
    right: 80%;
}

.btn-complemento {
    right: 60%;
}

.btn-dif-simetrica {
    bottom: 20%;
    left: 120%;
}