<div class="fondo">
    <div class="container">
        <h1>TEMAS</h1>
        <p> Estos temas seran los que aprenderas en este juego</p>
        <div class="btn-container">
            <button class="btn btn-teoria">Teoría de Conjuntos</button>
            <button class="btn btn-cardinalidad">Cardinalidad</button>
            <button class="btn btn-union">Unión</button>
            <button class="btn btn-interseccion">Intersección</button>
            <button class="btn btn-diferencia">Diferencia</button>
            <button class="btn btn-complemento">Complemento</button>
            <button class="btn btn-dif-simetrica">Diferencia Simétrica</button>
            <!-- <h2 href="">TERMINADO!</h2>-->
        </div>
    </div>
</div>