<div class="fondo">
    <div class="container">
        <h1>TEMAS</h1>
        <p> Estos temas seran los que aprenderas en este juego</p>
        <div class="btn-container">
            <app-text-box routerLink="/learningpath/set-theory" class="btn-teoria" [title]="'Teoria de Conjuntos'"/>
            <app-text-box routerLink="/learningpath/cardinality" class="btn-cardinalidad" [title]="'Cardinalidad'"/>
            <app-text-box routerLink="/learningpath/union" class="btn-union" [title]="'Union'"/>
            <app-text-box routerLink="/learningpath/intersection" class="btn-interseccion" [title]="'Interseccion'"/>
            <app-text-box routerLink="/learningpath/difference" class="btn-diferencia" [title]="'Diferencia'"/>
            <app-text-box routerLink="/learningpath/complement" class="btn-complemento" [title]="'Complemento'"/>
            <app-text-box routerLink="/learningpath/symmetric-difference" class="btn-dif-simetrica" [title]="'Diferencia Simetrica'"/>
            <!-- <h2 href="">TERMINADO!</h2>-->
        </div>
    </div>
</div>