<div class="fondo">
    @if (isHome) {

    <app-topic-start Title="TEORIA DE CONJUNTOS" />

    } @else {

    <div class="container">
        <h1>TEORIA DE CONJUNTOS</h1>
        <p>En esta teoria se estudian los conjuntos y sus propiedades.</p>
        <div class="cont1">
            <img src="../../../../assets/img/SeThoery/TeorhyImg1.png" alt="">
            <p>Un conjunto es un grupo de elementos que se agrupan para formar un conjunto. Por ejemplo, los numeros
                naturales son
                un conjunto, tu grupo de amigos es un conjunto , los numeros racionales son un conjunto, los numeros
                reales son un
                conjunto, los numeros complejos son un conjunto, etc.</p>
        </div>
        <div class="cont2">
            <img src="../../../../assets/img/SeThoery/TheoryImg2.png" alt=""> 
            <img src="../../../../assets/img/SeThoery/TheoryImg3.png" alt="">
        </div>
        <a href="">Hacer Prueba</a>
    </div>

    }
</div>