<div class="container">
    <img src="./img/LOGO.png" alt="">
    <div class="usuario">
        <h3>USUARIO</h3>
        <input type="text" name="" id="" class="inputbox">
    </div>
    <div class="usuario">
        <h3>EMAIL</h3>
        <input type="text" name="" id="" class="inputbox">
    </div>
    <div class="contrasena">
        <h3>CONTRASENA</h3>
        <input type="password" name="" id="" class="inputbox">
    </div>
    <div class="confirmContrasena">
        <h3>CONFIRMAR CONTRASENA</h3>
        <input type="password" name="" id="" class="inputbox">
    </div>
    <button>REGISTRAR</button>
</div>