<div class="container">
    <img src="../../../assets/img/LOGO.png">
    <div class="usuario">
        <h3>USUARIO</h3>
        <input type="text" class="inputbox" placeholder=" USUARIO">
    </div>
    <div class="email">
        <h3>EMAIL</h3>
        <input type="text" class="inputbox" placeholder=" XXXXX@GMAIL.COM">
    </div>
    <div class="contrasena">
        <h3>CONTRASENA</h3>
        <input type="password" class="inputbox" placeholder=" CONTRASENA">
    </div>
    <div class="confirmContrasena">
        <h3>CONFIRMAR CONTRASENA</h3>
        <input type="password" class="inputbox" placeholder=" CONFIRMAR CONTRASENA">
    </div>
    <app-button buttonText="REGISTRAR"></app-button>
</div>