.fondo {
    height: 100vh;

    background: url('../../../assets/img/INICIO.png');
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    margin: 0 5%;
    gap: 3%;
}

.bttn {
    width: 485px;
    padding: 15px 0;
    border: 0;
    border-radius: 79px;
}

.containInfo {
    height: 50vh; /*390px*/
    padding: 80px;

    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    text-align: center;
    gap: 10px;

    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 19px;
}

.containInfo::-webkit-scrollbar {
    border-radius: 19px;
}

.containInfo::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 19px;
}

.bt1{
    background-color: #00315F;
    color: white;
}

.bt2{
    background-color: #2A2A2A;
    color: white;
}


.contImg {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
        "i1 i1"
        "i2 i3";
    gap: 10px;
}

.i1 {
    grid-area: i1;
    width: 510px;
}

.i2 {
    grid-area: i2;
    width: 250.5px;
}

.i3 {
    grid-area: i3;
    width: 100px;
    width: 250.5px;
}

.imgLOGO{
    height: 110px;
}

.contLOGO{
    display: flex;
    justify-content: center;
    margin: 2%;
}