.gradient-box {
    width: 500px;
    height: 300px;
    background: linear-gradient(to bottom, #ccff00, #4caf50);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    background-color: transparent;
    padding: 20px;
    border: none;
    box-shadow: none;
    text-align: center;
}

.correcto {
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 0 black;
    margin: 0;
    font-family: "Tiny5", sans-serif;
}

.mensaje {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    text-shadow: 2px 2px 0 white;
    font-family: "Tiny5", sans-serif;
}

.felicidades {
    font-size: 2em;
    margin-top: 10px;
    color: black;
    text-shadow: 2px 2px 0 white;
    font-family: "Tiny5", sans-serif;
}

.puntos {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 0 black;
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-family: "Tiny5", sans-serif;
}