.fondo {
    height: auto;
    background-image: url("../../../../assets/img/background2.gif");
    background-size: 100vw;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .bkg{
      background-color: #131313a1;
      padding: 20px;
      text-align: center;
      border-radius: 45px ;
      width: 90vw;
      height: auto;
  
  }
  p {
    margin: 20px;
    text-align: center;
    font-size: x-large;
  text-shadow: 2px 2px  black;
  }
  
  img {
    width: 200px;
    height: 150px;
    object-fit: fill;
    display: block;
    margin:auto 20px ;
    justify-content: center;
    align-items: center;
    
  }
  
  table{
      object-fit: fill;
      margin: 2px ;
  }

  .TextPresStart {
    font-size: 50px;
  }
  
  .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 30px;
    font-size: 40px;
  }
  
  .AnParpadeo {
    animation-name: parpadear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes parpadear {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
   }
  }
  
  strong{
      color: red;
  } 

.fondo{
    height: 100vh;
    background-image: url('../../../../assets/img/Difference/Fondo\ Diferencia.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.fondo::-webkit-scrollbar {
    display: none;
}

.container {
    width: min(80vw);
    height: fit-content;
    padding: 5%;
    margin: 2% 10%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

a {
    color: rgba(128, 128, 128, 0.75);
    font-size: 2rem;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255);
    text-decoration: underline;
}