#fondo {
    height: 100vh;
    background: url('../../../assets/img/INICIO.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.TextPresStart {
    font-size: 40px;
}

.AnParpadeo {
    animation-name: parpadear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes parpadear {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}