<div class="fondo">
  <div class="container bkg">
    <h1>CARDINALIDAD</h1>
    <p>
      <strong>CARDINALIDAD DE CONJUNTOS</strong> <br />
      La cardinalidad de un conjunto es<span> el número de elementos</span> que
      contiene. Por ejemplo el conjunto A = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10. Este
      conjunto tiene<span> 10 elementos</span>, por lo tanto su cardinalidad es
      de <span>10</span>.
    </p>
    <p>
      La cardinalidad esta representada por una letra en<span> mayúscula</span>
      y para ser definido como cardinalidad debe estar marcada con
      <span>llaves</span>
    </p>
    <div>
      <table>
        <tr>
          <td>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS__mHwC8jhe1MRPXJqgCaw3ewFFOeXX1vMVA&s"
              alt=""
            />
          </td>
          <td>
            <img src="../../../../assets/img/intersection.png" alt="" />
          </td>
          <td>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Cardinal_de_uni%C3%B3n_de_dos_conjuntos.png"
              alt=""
            />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="cont">
    <button class="AnParpadeo TextPresStart">INICIAR</button>
  </div>
</div>
