<div class="fondo">
    @if (isHome) {

    <app-topic-start Title="CARDINALIDAD" />

    } @else {

    <div class="container">
        <h1>CARDINALIDAD</h1>
        <p>Los conjuntos pueden ser finitos o infinitos. En el caso de un conjunto finito se pueden contar los elementos
            del conjunto:</p>
            <img src="" alt="Img1">
        <div class="cont1">
            <p>El numero de elementos de un conjunto finito es su cardinal.</p>
        </div>
        <img src="" alt="Img2">
        <p> cardinal se denota por [A], card(A) o #A. Asi, en los ejemplos anteriores, se tiene que |A| = 4 (cuatro
            numeros), |B| = 3 (tres colores) y |F| = 10 (diez cuadrados). El unico conjunto cuyo cardinal es 0 es
            el conjunto vacio ∅.</p>

        <a href="">Hacer Prueba</a>
    </div>

    }
</div>